* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  height: auto;
}

ul, ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 20px;
}

.siteheader__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.siteheader__list {
  width: 283px;
  display: flex;
  justify-content: space-between;
}

.siteheader__logolink {
  width: 236px;
}

.siteheader__item {
  color: #83888f;
  font-family: Barlow;
  font-size: 12px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: 0.92px;
}

.siteheader__menyu {
  width: 16px;
  height: 16px;
  background-image: url("../../img/menyuheader.png");
  background-repeat: no-repeat;
  border: none;
  display: none;
}

@media only screen and (max-width: 700px) {
  .siteheader__list {
    display: none;
  }
  .siteheader__menyu {
    display: inline-block;
  }
}
@media screen and (max-width: 420px) {
  .siteheader__logolink {
    width: 140px;
  }
}
.greatcoffee__container {
  background-image: url("../../img/grbgimg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
}

.greatcoffee__box {
  max-width: 493px;
  padding: 180px 0 230px 86px;
  text-align: left;
}

.greatcoffee__title {
  color: rgb(254, 252, 247);
  font-family: Fraunces 9pt;
  font-size: 72px;
  font-weight: 900;
  line-height: 72px;
  margin-bottom: 32px;
}

.greatcoffee__text {
  color: rgb(254, 252, 247);
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 56px;
}

.greatcoffee__btn {
  color: rgb(254, 252, 247);
  font-family: Fraunces 9pt;
  font-size: 18px;
  font-weight: 900;
  line-height: 25px;
  border-radius: 6px;
  background: rgb(102, 210, 207);
  padding: 15px 30px;
}

@media only screen and (max-width: 1000px) {
  .greatcoffee__container {
    background-image: url("../../img/grbgimg2.jpeg");
    height: 600px;
    padding-bottom: 0;
  }
  .greatcoffee__box {
    padding: 100px 0 100px 50px;
  }
}
@media only screen and (max-width: 690px) {
  .greatcoffee__container {
    background-image: url("../../img/grbgimg3.jpeg");
    height: 600px;
  }
  .greatcoffee__box {
    padding: 50px 0 50px 58px;
    text-align: center;
  }
}
@media screen and (max-width: 522px) {
  .greatcoffee__box {
    padding: 50px 0 50px 30px;
    text-align: center;
  }
  .greatcoffee__title {
    color: rgb(254, 252, 247);
    font-family: Fraunces 9pt;
    font-size: 40px;
    font-weight: 900;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: center;
  }
  .greatcoffee__text {
    color: rgb(254, 252, 247);
    font-family: Barlow;
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0px;
    text-align: center;
  }
  .greatcoffee__btn {
    text-align: center;
  }
}
.our__box {
  background-image: url("../../img/ourbgimg.png");
  background-repeat: no-repeat;
  text-align: center;
  background-size: contain;
  height: 550px;
}

.our__list {
  padding-top: 200px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.our__item {
  max-width: 255px;
}

.ourlistfoto {
  width: 256px;
  height: 193px;
}

.our__strong {
  color: rgb(51, 61, 75);
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  text-align: center;
}

.our__text {
  color: rgb(51, 61, 75);
  font-family: Barlow;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

@media only screen and (max-width: 1140px) {
  .our__box {
    height: 300px;
  }
  .our__list {
    padding-top: 200px;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  .our__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 620px;
    text-align: center;
  }
}
@media screen and (max-width: 836px) {
  .our__list {
    padding-top: 100px;
  }
}
@media screen and (max-width: 567px) {
  .our__item {
    flex-direction: column;
  }
}
@media screen and (max-width: 426px) {
  .our__list {
    padding-top: 50px;
  }
}
.choose__box {
  background-color: #262D36;
  height: 600px;
  max-width: 1360px;
  padding-top: 100px;
}

.choose__title {
  color: rgb(254, 252, 247);
  font-size: 40px;
  font-weight: 900;
  line-height: 48px;
  text-align: center;
}

.choose__text {
  color: rgb(254, 252, 247);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  opacity: 0.8;
}

.choose__list {
  display: flex;
  gap: 50px;
  margin-top: 50px;
  justify-content: space-around;
}

.choose__item {
  border-radius: 8px;
  background: rgb(14, 135, 132);
  max-width: 350px;
  height: 382px;
  position: relative;
  padding-top: 100px;
}

.chooseitem__titlle::before {
  content: "";
  width: 70px;
  height: 70px;
  position: absolute;
  background-image: url("../../img/choosebefore.png");
  background-repeat: no-repeat;
  vertical-align: middle;
  top: 6%;
  right: 42%;
}

.chooseitem__titlle {
  color: rgb(254, 252, 247);
  font-size: 24px;
  font-weight: 900;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: center;
}

.chooseitem__text {
  color: rgb(254, 252, 247);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
}

@media only screen and (max-width: 1140px) {
  .choose__box {
    margin-top: 800px;
  }
}
@media screen and (max-width: 980px) {
  .chooseitem__titlle::before {
    top: 3%;
    right: 40%;
  }
  .choose__item {
    height: 300px;
  }
}
@media screen and (max-width: 729px) {
  .choose__box {
    height: 1300px;
  }
  .choose__list {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 566px) {
  .choose__box {
    margin-top: 1000px;
  }
  .choose__title {
    font-size: 32px;
    font-weight: 900;
    line-height: 48px;
  }
  .choose__text {
    font-size: 15px;
    font-weight: 400;
    line-height: 25px;
  }
}/*# sourceMappingURL=main.css.map */